server {
    listen 80;
    server_name {{ server_name }};

    root /var/www/{{ server_name }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_ver }}-fpm.sock;
     }

    location ~ /\.ht {
        deny all;
    }
}





